@use '../../styles/index' as *;


.buyBtn {
    background-color: $violet-1 !important;
    color: white !important;
  
    @include base-semibold;
    &:hover {
      opacity: 0.75;
    }
  }
  
  .starBtn {
    color: white !important;
  
    background-color: #fa776c !important;
    @include base-semibold;
    &:hover {
      opacity: 0.75;
    }
    img {
      margin-right: 5px;
    }
  }

  .loading {
    position: absolute;
    inset:0;
    
  }