@use "../../styles/index" as *;

.container {
  @include flex-col($jc: space-between);
  width: 100%;
  height: auto;
  background-color: #fefefe;
}

.main {
  flex: 1;
  width: 100%;
  min-height: 84vh;
  overflow-y: scroll;

}



.pageContainer {
  width: 100%;



  @include mid-break {
    height: 90vh;
  }
}

.hero {
  @include flex-row($jc: space-between);
  width: 100%;
  height: 60vh;
  position: relative;
  @include global-pad;
  background-color: $light-blue;

  @include mid-break {
    @include flex-col;
    height: 100%;
  }


  > div:nth-of-type(1) {
    @include flex-col($jc: space-between, $algn: flex-start);
    position: inherit;
    flex: 1;
    height: 100%;
    padding: 4vh 0;
    // background-color: red;
    > h2 {
      @include heading1-bold;
      letter-spacing: 1.5px;

    }

    > p {
      @include base-regular;
    }

    > button {
      background-color: $violet-1 !important;
      color: rgba(255, 255, 255, 0.911) !important;
      border-radius: 25px !important;
      
    }

    @include mid-break {
      height: auto;
      flex: 1;
      width: 100%;
      padding: 1.5vh 1vw;

      >button {
        width: 100% !important;
      }
    }
  }

  > div:nth-of-type(2) {
    flex: 1;
    height: 100%;
    position: relative;
    @include flex-row;
    // background-color: pink;
 
    @include mid-break {
      height: auto;
      flex: 1;
      width: 100%;
   
    }
  }


}

.heroImg {
  width: 70% !important;

  @include mid-break {
    width: 50% !important;
    margin: auto;
  }
}

.eventList {
  width: 100%;
  @include flex-col();
  @include global-pad;
  >h2{
    width:100%;
    text-align: left;
    @include heading3-bold;
  }
}
