@use './queries' as *;

@mixin flex-row($wrap: nowrap, $jc: center, $algn: center) {
  display: flex;
  flex-direction: row;
  flex-wrap: $wrap;
  align-items: $algn;
  justify-content: $jc;
}

@mixin flex-col($wrap: nowrap, $jc: center, $algn: center) {
  display: flex;
  flex-direction: column;
  flex-wrap: $wrap;
  align-items: $algn;
  justify-content: $jc;
}

@mixin global-pad(){
  padding: 2vh 14vw;

  @include mid-break{
      padding: 2vh 3vw;
  }
}